{% extends "base.html" %}

{% block title %}ENT Sentiers - À propos{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}
    <div class="description">
        <h2>À propos de l'ENT</h2>
        <p class="about-text">
            Bienvenue sur l'ENT Les Sentiers de la Lumière, votre plateforme éducative dédiée à l'apprentissage et à la communication au sein de notre établissement.
            <br>
            Une multitude de ressources et d'outils pour les élèves, les enseignants et les parents sont disponibles. Vous trouverez des informations sur les cours, les devoirs, les événements scolaires, ainsi qu'un moyen de communication avec les enseignants et élèves.
            <br>
            Nous espérons que vous apprécierez votre expérience sur notre plateforme et que vous en tirerez le meilleur parti pour votre réussite académique, إِنْ شَاءَ اللهُ.
        </p>
        <div class="duaa-section">
            <p class="duaa-label">Ne nous oubliez pas dans vos invocations, Barak Allaho Fikom</p>
            <p class="duaa-text">
                اللّهُمَّ اجْعَلْ هَذَا الْمَشْرُوعَ فِي مِيزَانِ حَسَنَاتِهِمْ، وَاجْعَلْهُ سَبَبًا لِرِضَاكَ عَنْهُمْ، وَاجْعَلْهُ فِي مَنْزِلَةٍ عَالِيَةٍ فِي الْآخِرَةِ.
            </p>
            <p class="duaa-translation">
                "Ô Allah, fais que ce projet soit dans la balance de leurs bonnes actions, fais qu'il soit une cause de Ta satisfaction envers eux, et accorde-leur un rang élevé dans l'au-delà."
            </p>
        </div>
        <div class="contact">
            <p class="contact-heading"><strong>Contact :</strong></p>
            <p>Téléphone : +33 03 80 71 05 27</p>
            <p>Mail : <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1e7b7d71727b306d7b706a777b6c6d30726b73777b6c7b5e79737f7772307d7173">[email&#160;protected]</a></p>
            <p>Site Web : <a href="https://www.ecole-sentierslumiere.fr" target="_blank">ecole-sentierslumiere.fr</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/about.js"></script>
{% endblock %}